/target/
/data/
/crates/http-tunnel-server/public/build-info.json

*.sqlite
*.sqlite3
*.sqlite3-*
*.db
*.db-*
*.log
*.pid

*.swp
*.swo
.DS_Store
.env
.env.*

node_modules/
dist/
release-files/
artifacts/
http-tunnel-server-linux-*
http-tunnel-client-linux-*
